body {
    background-image: url(a62.png);
}
.gridhappy {
    background-color: white;
    border: 4px solid black;
    width: 1200px;
    margin: 1em auto 0em;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto auto 75px;
}
h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: white;
    background-color: black;
    padding: 20px;
    margin-top: 0;
    grid-column: span 12;
}
nav {
    grid-column: span 3;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav li {
    width: 90%;
    padding: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}
nav a {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 20px;
    display: block;
    background-color: red;
}
nav a:hover {
    background-color: rgb(150,0,0);
}
main {
    grid-column: span 9;
}
h2 {
    border-bottom: 4px solid black;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 0px;
    padding-bottom: 5px;
}
.floaty {
    float: left;
    margin-right: 24px;
    margin-bottom: 24px;
    padding: 10px;
    border: 4px solid black;
}
main p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    font-weight: bold;
}
main a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}
main a:hover {
    text-decoration: underline;
    color: blue;
}
.wordy {
    font-weight: normal;
    clear: both;
}
footer {
    font-style: italic;
    background-color: red;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    grid-column: span 12;
    border-top: 4px solid black;
    margin-left: -1em;
    margin-right: -1em;
    margin-bottom: -1em;
}