body {
    background-color: gray;
}
.grid {
    background-color: white;
    border: 4px solid blue;
    width: 1200px;
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;
}
header {
    background-image: linear-gradient(to bottom, rgb(0, 150, 255), rgb(0, 75, 255));
    grid-column: span 12;
}
h1 {
    padding: 20px;
    font-weight: normal;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
h1 a {
    text-decoration: none;
    color: rgb(0, 200, 255);
}
h1 a:hover {
    color: white;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}
nav li {
    flex: 1 1 0;
    padding: 0px;
    margin-bottom: 20px;
}
nav li a {
    color: rgb(0, 200, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-image: linear-gradient(to bottom, rgb(0, 150, 255), rgb(0, 75, 255));
}
nav li a:hover {
    background-image: linear-gradient(to top, rgb(0, 150, 255), rgb(0, 75, 255));
    color: white;
}
.info {
    background-color:lightblue;
    grid-column: span 4;
    padding: 10px;
}
.info h2 {
    border-bottom: 4px solid blue;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    padding-bottom: 5px;
    color: blue;
    font-weight: normal;
    font-family: Helvetica, Arial, sans-serif;
}
.info p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    color: black;
    font-weight: bold;
}
main {
    grid-column: span 8;
    padding: 10px;
}
main h2 {
    border-bottom: 4px solid blue;
    margin-top: 0px;
    padding-bottom: 5px;
    color: blue;
    font-weight: normal;
    font-family: Helvetica, Arial, sans-serif;
}
.bearfloat {
    float: left;
    margin-right: 24px;
    margin-bottom: 24px;
    border: 4px solid blue;
}
.aboutfloat {
    float: right;
    margin-left: 24px;
    margin-bottom: 24px;
    border: 4px solid blue;
}
main p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
main p a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}
main p a:hover {
    color: blue;
}
.carmy,
.sydney,
.richie{
    grid-column: span 4;
    padding: 10px;
}
.carmy img,
.sydney img,
.richie img {
    width: 100%;
}
.carmy h2,
.sydney h2,
.richie h2 {
    border-bottom: 4px solid blue;
    margin-top: 0px;
    padding-bottom: 5px;
    color: blue;
    font-weight: normal;
    font-family: Helvetica, Arial, sans-serif;
}
.carmy p,
.sydney p,
.richie p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
.carmy p a,
.sydney p a,
.richie p a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}
.carmy p a:hover,
.sydney p a:hover,
.richie p a:hover {
    color: blue;
}
footer {
    background-color: red;
    grid-column: span 12;
    border-top: 4px solid blue;
    padding: 10px;
}