body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid blue;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

h1 {
  grid-column: span 12;
  background-color: blue;
  color: white;
  padding: 24px;
  margin: -12px -12px 16px -12px;
  text-align: center;
  border-radius: 12px;
  border: 4px solid black;
  box-shadow: 10px 10px 10px rgb(75, 100, 255);
  text-shadow: 2px 2px 2px black;
  font-family: "Aldrich", sans-serif;
}
#intro {
  grid-column: span 4;
}
#stars {
  grid-column: span 8;
  width: 100%;
  border-radius: 20px;
}
#row1 {
  grid-column: span 12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
}
#row2 {
  grid-column: span 12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
}
h2 {
  background-color: blue;
  text-align: center;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 16px;
  font-family: "Aldrich", sans-serif;
}
h2 a {
  text-decoration: none;
  color: white;
  padding: 24px;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 16px;
  display: block;
  border: 2px solid black;
  box-shadow: 10px 10px 10px rgb(75, 100, 255);
  text-shadow: 2px 2px 2px black;
  transition: background-color 0.5s, color 2.5s, box-shadow 1.5s;
}
h2 a:hover {
  text-decoration: underline;
  background-color: navy;
  color: cyan;
  box-shadow: 10px 10px 10px black;
}
footer {
  grid-column: span 12;
  color: white;
  padding: 24px;
  background-color: blue;
  margin: 16px -12px -2px -12px;
  border-radius: 12px;
  border: 4px solid black;
  box-shadow: 10px 10px 10px rgb(75, 100, 255);
}
footer a {
  color: white;
  font-size: 64px;
  margin-left: 12px;
  text-decoration: none;
  transition: all 1s;
}
footer a:hover {
  color: skyblue;
  font-size: 80px;
}

