body {
  background-color: rgb(0, 0, 50);
}
#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid blue;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  font-family: "Helvetica", sans-serif;
}
h1 {
  grid-column: span 12;
  background-color: blue;
  margin: -12px -12px 16px -12px;
  border-radius: 12px;
  text-align: center;
  font-family: "Aldrich", sans-serif;
}
h1 a {
  text-decoration: none;
  color: white;
  padding: 24px;
  border-radius: 12px;
  display: block;
  border: 4px solid black;
  box-shadow: 10px 10px 10px rgb(75, 100, 255);
  text-shadow: 2px 2px 2px black;
  transition: background-color 0.5s, color 2.5s, box-shadow 1.5s;
}
h1 a:hover {
  text-decoration: underline;
  background-color: navy;
  color: cyan;
  box-shadow: 10px 10px 10px black;
}
#intro {
  grid-column: span 12;
}
#poem {
  grid-column: span 12;
  font-family:'Times New Roman', Times, serif;
}
#row1 {
  grid-column: span 12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
}
#row2 {
  grid-column: span 12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
}
h2 {
  background-color: blue;
  text-align: center;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 16px;
  font-family: "Aldrich", sans-serif;
}
h2 a {
  text-decoration: none;
  color: white;
  padding: 24px;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 16px;
  display: block;
  border: 2px solid black;
  box-shadow: 10px 10px 10px rgb(75, 100, 255);
  text-shadow: 2px 2px 2px black;
  transition: background-color 0.5s, color 2.5s, box-shadow 1.5s;
}
h2 a:hover {
  text-decoration: underline;
  background-color: navy;
  color: cyan;
  box-shadow: 10px 10px 10px black;
}
#projectheader {
  grid-column: span 4;
}
.project1images {
  width: 100%;
  height: auto;
  display: block;
  grid-column: span 4;
}
.project2images {
  width: 100%;
  height: auto;
  display: block;
  grid-column: span 3;
}
.slides {
  width: auto;
  height: 100%;
}
#RTGCarousel, #WTMCarousel {
  margin-bottom: 24px;
  border: 2px solid blue;
  height: 300px;
}
#RTGCarousel .f-carousel__slide, #WTMCarousel .f-carousel__slide {
  text-align: center;
  padding: 24px;
  background: #eee;
}
.f-carousel {
  --f-arrow-pos: 10px;

  --f-arrow-width: 36px;
  --f-arrow-height: 36px;

  --f-arrow-svg-width: 18px;
  --f-arrow-svg-height: 18px;
  --f-arrow-svg-stroke-width: 2.5;

  --f-arrow-color: blue;
  --f-arrow-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0
          0 / 30%);

  --f-arrow-border-radius: 50%;
  --f-arrow-bg: #fff;
  --f-arrow-hover-bg: #f9f9f9;
  --f-arrow-active-bg: #f0f0f0;
}
footer {
  grid-column: span 12;
  color: white;
  padding: 24px;
  background-color: blue;
  margin: 16px -12px -2px -12px;
  border-radius: 12px;
  border: 4px solid black;
  box-shadow: 10px 10px 10px rgb(75, 100, 255);
}
footer a {
  color: white;
  font-size: 64px;
  margin-left: 12px;
  text-decoration: none;
  transition: all 1s;
}
footer a:hover {
  color: skyblue;
  font-size: 80px;
}

