body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid blue;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

h1 {
  grid-column: span 12;
  background-color: blue;
  color: white;
  padding: 24px;
  margin: -24px -24px 24px -24px;
  text-align: center;
}
#intro {
  grid-column: span 4;
}
#stars {
  grid-column: span 8;
  width: 100%;
}
#row1 {
  grid-column: span 12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
}
#row2 {
  grid-column: span 12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
}
h2 {
  background-color: blue;
  padding: 24px;
  text-align: center;
}
h2 a {
  text-decoration: none;
  color: white;
}
h2 a:hover {
  text-decoration: underline;
}

